In [1]:
# print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# print range 10 to 20

for num in range(10,20):
    print(num, end=" ")    #"end" This will breaks the loop and prints the value in one line

10 11 12 13 14 15 16 17 18 19

In [3]:
# Print number of items in the list by using 'len'

list=[10, 20, 14, 55, 43, 87, 76]
print(list)
print("Number of item in the list:", len(list))     #"len" function is used to get the lenghth of the string, list

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list: 7

In [4]:
name=("Artificial Intelligence")
print(name)
for data in name:
    print(data)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
list=["-Your Name-","-Your Age-","-Your Profession-"]     #String need to be declared between the double qotes. 
for data in list:
    print(data)

-Your Name-
-Your Age-
-Your Profession-

In [6]:
# Print this mixered datatype using Tuples

words=(1, "Welcome", 2, "Hope")
print(words)

(1, 'Welcome', 2, 'Hope')

In [7]:
data1=(0, 1, 2, 3)
data2=("python", "HOPE")
print((data1, data2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [8]:
# print Odd Numbers in the list

values=[20,10,16,19,25,1,276,188]
for data in values:
    if(data%2==1):
        print(data,"is odd")

19 is odd
25 is odd
1 is odd

In [9]:
# print Even Numbers in the list

values=[20,10,16,19,25,1,276,188]
for data in values:
    if(data%2==0):
        print(data,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even