In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#1. Ans - changed the funaction name in the print statement - Case sensitive Issue

import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
#2. Ans - Deaclaring the X as global variable to pass the values over the function.

def my_function():
    global x
    x += 5
    print(x)
x = 10
my_function()

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [3]:
#3. Ans - Changes, Instaed of using assignment operator need to use the comparion to get the results. 

x = 5
if x == 10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [4]:
#4.Ans-In the above code delacring the .sort in the print will return none. So, the sort declared initially and printing it will provide the sorted list.

numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [5]:
#5. Ans (1) Changes - Declaring the funtion claculatuion to the variable and call back the funtion to get the results.

def square(n):
    root = n * n
    print(root)
    return root
Calc = square(4)

16

In [6]:
#5. Ans (2) Changes - retuning the vakue to the fuction to print the value as per the calculation

def square(n):
   return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [9]:
#6. Ans - Create a new tuple, Since it's immutable and can't be apply changes.

my_tuple = (1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [10]:
#7. Ans - The placeholder agrument is not passed, Post deaclaring the same got the result. 

name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

# or

print("My name is",name, "and I am" ,age, "years old")

My name is Alice and I am 25 years old
My name is Alice and I am 25 years old

In [ ]:
#8. 
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [11]:
#8. Ans - Ans - Fixed the comparasion of the IF statemnet to get the output

a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [12]:
#9. Ans - Since to print the values in the range in the decreased way need to mnetion the skip value in negative for the same.

for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [14]:
#10. Ans - Since we are using the Key and value. So, We need to decalre it has string not as variable.

student = {"name": "John", "age": 20}
print(student["name"])

John